$("#music_list").html("<%= escape_javascript(render(partial: 'music_list', locals: { message: @message })) %>")

var notice_container = $("#notice_container");
if (document.getElementById("message") != null) {
	notice_container.html('<p id="notice"><%= @message %></p>');
	notice_container.show().delay(2000).hide(2000);
}