$("#music_list").html("<%= escape_javascript(render(partial: 'music_list', locals: { message: @message })) %>")

var notice = $("#notice_div");
var message = $("#message");
if (document.getElementById("message") != null) {
	notice.html('<p id="notice"><%= @message %></p>');
	notice.show().delay(2000).hide(2000);
}

registerRowClick();
registerRowDblClick();