<% content_for :head do %>
	<%= javascript_include_tag "welcome.js" %>
<% end %>

<div class="hero-unit">
	<h1>Music Stream</h1>
	<p>You really should, like, sign up or something.</p>
	<%= link_to 'Sign Up', signup_path, class: 'btn btn-info' %>
</div>

<div class="row-fluid">
	<div class="span4">
		<h2>What is music stream?</h2>
		<p>Music stream is an online media player for you to upload your music library and play your tunes wherever you have access to the internet.</p>
	</div>
	<div class="span4">
		<h2>How much does it cost?</h2>
		<p>Nothing! Absolutely nothing! Just sign up and get uploading.</p>
	</div>
	<div class="span4">
		<h2>What browsers are supported?</h2>
		<p>Any browser that supports 'mp3's and 'm4a's or has the Adobe Flash Player Plugin installed.</p>
	</div>
</div>

<div class="row-fluid">
	<div class="span6">
		<h2>Why can't I upload FLAC, WAV, OGG...?</h2>
		<p>Unfortunately this site only allows you to upload 'mp3's and 'm4a's. Different browsers have varied support of audio filetypes. This site uses jPlayer to stream your music to you. jPlayer uses the HTML5 audio tag or uses Flash Player as a fallback for browsers that don't support both mp3 and m4a. To ensure cross-browser compatibility, only mp3 and m4a files are allowed. Hopefully in the future we'll be able to serve you more filetypes as browsers and Flash begin to support more filetypes.</p>
	</div>
	<div class="span6">
		<h2>What about AAC and MP4?</h2>
		<p>Give them a shot. They may or may not work. Even though aac, mp4, and m4a are all aliases of one another,
we've been having difficulty getting aac and mp4 files to work with jPlayer.</p>
	</div>
</div>
