var playlist;

$(function() {
	$("#notice").delay(2000).hide(2000);

	playlist = new jPlayerPlaylist(
		{
			jPlayer: "#jquery_jplayer",
			cssSelectorAncestor: "#jp_container"
		},
		[
			// Empty playlist
		],
		{
			playlistOptions: { enableRemoveControls: true },
			swfPath: "<%= asset_path 'Jplayer.swf' %>",
			supplied: "mp3",
			wmode: "window"
		}
	);

	$("#add_to_playlist").on("click", function() {
		var ids = $("input[name='songs[]']:checked").map(function() {
			return this.value;
		}).get();

		$.getJSON("/music", { "song_ids": ids }, function(data) {
			$.each(data.songs, function(index, song) {
				playlist.add({
					title: song.title,
					artist: song.artist,
					mp3: song.url
				});
			});
			playlist.play();
		});
	});

	$("#search_form").submit(function() {
		$.get(this.action, $(this).serialize(), null, "script");
		return false;
	});

	$("#search_form input").keyup(function() {
		$.get($("#search_form").action, $("#search_form").serialize(), null, "script");
		return false;
	});

	$("#check_all").click(function() {
		var checked = this.checked;
		$('input[name="songs[]"]').each(function() {
			this.checked = checked;
		});
	});

	$(function() {
		$("#upload_frame").load(function() {
			var music_list_html = document.getElementById("upload_frame").contentWindow.document.body.innerHTML;
			if (music_list_html != "")
				$("#music_list").html(music_list_html);

			var notice = $("#notice_div");
			var message = $("#message");
			if (document.getElementById("message") != null) {
				notice.html('<p id="notice">' + message.val() + '</p>');
				notice.show().delay(2000).hide(2000);
			}
		});
	});

	$("#delete_music_form").submit(function() {
		var num_checked = $("input[name='songs[]']:checked").length;
		if (num_checked > 0 && confirm("Are you sure you want to delete the selected songs?")) {
			$.ajax ({
				url: "/music",
				type: "post",
				dataType: "script",
				data: $("#delete_music_form").serialize() + "&_method=delete"
			});
		}

		return false;
	});
});