// -------------- Functions

function registerSongRowDblClick() {
	$(".song_row").dblclick(function() {
		var song_ids = [ $(this).find("input[type='checkbox']").val() ];
		while (playlist.playlist.length > 0) { playlist.remove(0); }
		ajaxAddSongsToPlaylist(song_ids, true);
	});
}

function registerSongRowClick() {
	$(".song_info_cell").click(function() {
		var value = $(this).find("input[type='hidden']").val();
		var checkbox = $("#checkbox_" + value);
		checkbox.prop('checked', !checkbox.prop('checked'));
	});
}

function createPlayer() {
	return new jPlayerPlaylist(
		{
			jPlayer: "#jquery_jplayer",
			cssSelectorAncestor: "#jp_container"
		},
		[
			// Empty playlist
		],
		{
			playlistOptions: { enableRemoveControls: true, removeTime: 0 },
			swfPath: "<%= asset_path 'Jplayer.swf' %>",
			supplied: "mp3, m4a",
			wmode: "window",
		}
	);
}

function ajaxAddSongsToPlaylist(song_ids) {
	ajaxAddSongsToPlaylist(song_ids, false);
}

function ajaxAddSongsToPlaylist(song_ids, play_now) {
	$.getJSON("/music", { "song_ids": song_ids }, function(data) {
		var songJSON;
		$.each(data.songs, function(index, song) {
			songJSON = {
				title: song.title,
				artist: song.artist,
			};
			songJSON[song.type] = song.url;

			playlist.add(songJSON, play_now);
		});
	});
}

// -------------- Variables

var playlist;

// ---------------- On Load

$(function() {
	playlist = createPlayer();
	registerSongRowClick();
	registerSongRowDblClick();

	$("#add_to_playlist").on("click", function() {
		var ids = $("input[name='songs[]']:checked").map(function() {
			return this.value;
		}).get();
		ajaxAddSongsToPlaylist(ids);
	});

	$("#search_form").submit(function() {
		$.get(this.action, $(this).serialize(), null, "script");
		return false;
	});

	$("#search_form input").keyup(function() {
		$.get($("#search_form").action, $("#search_form").serialize(), null, "script");
		return false;
	});

	$("#check_all").click(function() {
		var checked = this.checked;
		$('input[name="songs[]"]').each(function() {
			this.checked = checked;
		});
	});

	$("#upload_frame").load(function() {
		var music_list_html = document.getElementById("upload_frame").contentWindow.document.body.innerHTML;
		if (music_list_html != "") {
			$("#music_list").html(music_list_html);
			registerSongRowClick();
			registerSongRowDblClick();
		}

		var notice = $("#notice_div");
		var message = $("#message");
		if (document.getElementById("message") != null) {
			notice.html('<p id="notice">' + message.val() + '</p>');
			notice.show().delay(2000).hide(2000);
		}
	});

	$("#delete_music_form").submit(function() {
		var num_checked = $("input[name='songs[]']:checked").length;
		if (num_checked > 0 && confirm("Are you sure you want to delete the selected songs?")) {
			$.ajax ({
				url: "/music",
				type: "post",
				dataType: "script",
				data: $("#delete_music_form").serialize() + "&_method=delete&" + $("#search_form").serialize()
			});
		}

		return false;
	});

	$("#clear_playlist").click(function() {
		while (playlist.playlist.length > 0) { playlist.remove(0); }
	});
});