// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin {
	#search_form {
		float: right;
	}

	table {
		width: 100%;
		border: 2px solid #bbb;
		background-color: #eee;

		th {
			text-align: left;
		}

	//	tr:hover {
	//		background-color: #aac;
	//	}
	}

	.shaded {
		background-color: #ddd;
	}
}