/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#header {
	background-color: black;
	padding: 10px;
}

.rounded, fieldset {
	border-radius: 5px;
}

fieldset {
	background-color: #eee;
}

#banner, #userbar {
	width: 50%;
	display: inline;
}

#banner a {
	text-decoration: none;
	color: white;
}

#userbar {
	float: right;
	text-align: right;
}

#userbar a {
	color: #bbb;
	text-decoration: none;
}

#userbar a:hover {
	color: white;
}