// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
	.field {
		input, img {
			display: inline;
			vertical-align: middle;
		}
	}

	.field {
		margin: 0;
	}

	.jplayer {
		width: 424px;
	}

	.user_info {
		width: 150px;
		text-align: center;
	}

	.shaded_odd {
		background-color: #ddd;
	}

	.shaded_even {
		background-color: #ccc;
	}

	#search_form {
		float: right;
	}

	#delete_music_form {
		display: inline;
	}

	#upload_div {
		width: 360px;
	}

	.sortable {
		padding-right: 12px;
		background-repeat: no-repeat;
		background-position: right center;
	}

	.asc {
		background-image: url(/assets/up_arrow.gif);
	}

	.desc {
		background-image: url(/assets/down_arrow.gif);
	}

	.song_row td {
		-moz-user-select     : none;
		-khtml-user-select   : none;
		-webkit-user-select  : none;
		-o-user-select       : none;
		user-select          : none;
	}

	#music_list table, .table_head {
		th {
			text-align: left;
		}

		th, td {
			width: 33%;
		}

		th.checkbox_cell, td.checkbox_cell {
			width: 10px;
		}

		.song_row:hover {
			background-color: #009BE3;
		}
	}

	.table_head {
		border: 2px solid #009BE3;
		background-color: #eee;	
	}

	.table_body {
		border-right: 2px solid #009BE3;
		border-left: 2px solid #009BE3;
		border-bottom: 2px solid #009BE3;
		background-color: #eee;
	}

	.table_body {
		overflow-y: auto;
		max-height: 720px;
	}

	.jp-playlist {
		overflow-y: auto;
		max-height: 500px;
	}

	table {
		width: 100%;

		td {
			vertical-align: top;
		}
	}

	#music_cell {
		width: 100%;
	}
}