// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
	.content {
		width: 100%;
		table {
			width: 100%;

			.info {
				width: 150px;
				text-align: center;
			}

			th {
				text-align: left;
			}

			td {
				vertical-align: top;
			}

			table {
				width: 100%;
				border: 2px solid #bbb;
				background-color: #eee;

				.shaded {
					background-color: #ddd;
				}
			}
		}
	}
}